---
import Base from '@templates/Base.astro';
import { AppConfig } from '@utils/AppConfig';
import { Section } from 'astro-boilerplate-components';

const titleSuffix = ` - ${AppConfig.site_name}`;
const title = `Page not found${titleSuffix}`;
const description = "The page you're looking for doesn't exist.";
---

<Base head={{ title, description }}>
  <Section>
    <div
      class="mb-96 flex flex-col items-start justify-start md:mt-24 md:flex-row md:items-center
                md:justify-center md:space-x-6"
    >
      <div class="space-x-2 pb-8 pt-6 md:space-y-5">
        <h1
          class="md:leading-14 text-6xl font-extrabold leading-9 tracking-tight
                 md:border-r-2 md:px-6 md:text-8xl"
        >
          404
        </h1>
      </div>
      <div class="max-w-md">
        <p class="mb-4 text-xl font-bold leading-normal md:text-2xl">
          Sorry, the page you are looking for doesn't exist or has been moved.
        </p>
        <p class="mb-8">Let's find a better place for you to go.</p>
        <a href="/">
          <button
            class="focus:shadow-outline-blue inline rounded-lg border border-transparent bg-secondary px-4 py-2
                    text-sm font-medium leading-5 text-white shadow transition-colors duration-150
                  hover:bg-secondary-focus focus:outline-none "
            >Back to homepage
          </button>
        </a>
      </div>
    </div>
  </Section>
</Base>
