---
import SkillItem from '@components/SkillItem';
import TimeLine from '@components/Timeline';
import Base from '@templates/Base.astro';
import { AppConfig } from '@utils/AppConfig';
import { Section } from 'astro-boilerplate-components';

const titleSuffix = ` - ${AppConfig.site_name}`;
const title = `Resume${titleSuffix}`;
const description =
  'Experienced and passionate developer skilled in full-stack web development and mobile app creation. Proficient in multiple programming languages and frameworks, including Ruby on Rails, React, NextJS, and NodeJS. Adept at problem-solving and collaborating in agile teams to deliver robust and scalable solutions. Check out my portfolio to see my latest projects and accomplishments.';
---

<Base head={{ title, description }}>
  <Section>
    <div class="mb-5">
      <div class="w-full text-3xl font-bold">Profile</div>
    </div>

    <div class="mb-10 text-justify">
      I'm a Senior Software Developer at <strong>Saeloun Inc</strong>, with over
      4+ years of experience in web development. I've experience with
      <strong>Ruby on Rails</strong> and <strong>ReactJS</strong>. Over the
      course of my career, I've led couple of teams to build an application from
      scratch. I contribute to Open Source and have contributed to
      <strong>Ruby on Rails</strong>,
      <strong>Webpack</strong>,
      <strong>SaaS</strong>,
      <strong>Miru</strong>,
      <strong>Github Rails Codespace</strong>,
      <strong>Chatwoot</strong>, and
      <strong>Tooljet</strong>. Currently I'm a member of Rails issues triage
      team.
    </div>

    <div class="mb-5">
      <div class="w-full text-3xl font-bold">Education</div>
    </div>

    <div class="time-line-container mb-10 grid gap-4">
      <TimeLine
        title="Bachelor of Technology (BTech) in Computer Science and Engineering"
        subtitle="2016 to 2020 at Providence College of Engineering, Chengannur, India"
      />
      <TimeLine
        title="Plus Two (Higher Secondary Education)"
        subtitle="2014 to 2016 at Nair Samajam HSS, Mannar, India"
      />
      <TimeLine
        title="Secondary School Leaving Certificate (SSLC)"
        subtitle="2009 to 2014 at Nair Samajam HSS, Mannar, India"
      />
      <TimeLine
        title="Primary School"
        subtitle="2002 to 2008 at Akshara EM School, Mannar, India"
      />
    </div>

    <div class="mb-5">
      <div class="w-full text-3xl font-bold">Experience</div>
    </div>

    <div class="time-line-container mb-10">
      <TimeLine
        title="Senior Software Developer"
        subtitle="From September 2021 to Present at Saeloun, Remote"
      >
        Experienced consultant with expertise in Rails and React, showcasing a
        proven track record of leading successful projects. Highly skilled in
        designing robust architectures, developing and maintaining web
        applications, and adept at team management. Demonstrated proficiency in
        implementing new features, resolving bugs, and overseeing deployment
        processes for various clients and internal projects, including Miru,
        ActivateCare, Wanderwhale, GoMethodology, and InfluenceKit.
        <p>
          Technology Used: Rails, React, NextJS, PostgreSQL, NodeJS, TypeScript,
          Redis, Tailwind, Bootstrap, Kubernates, Docker, ElasticSearch, AWS
        </p>
      </TimeLine>
      <TimeLine
        title="Software Engineer"
        subtitle="From June 2021 to September 2021 at Bigbinary Solutions, Remote"
      >
        Bigbinary is a consulting company specializing in Ruby on Rails and
        ReactJS. I worked on various internal projects.
        <p>Technology Used: Rails, React, PostgreSQL</p>
      </TimeLine>
      <TimeLine
        title="Junior Software Developer"
        subtitle="From August 2020 to July 2021 at Sapaad Pvt Lmt, Kochi, India"
      >
        Sapaad is a SaaS company having a cloud-based restaurant management
        point of sale system. Experienced software engineer specialized in SaaS
        development, with expertise in AGILE Scrum-based product life cycle.
        Proficient in building and integrating microservice apps. Worked on
        various projects, including POS system with GPay integration and
        multilingual support, BYOD platform with PayTabs and PayU integration,
        delivery manager application with Kafka data handling, and trial
        application management system as lead developer. Skilled in Ruby on
        Rails and ReactJS for backend and frontend development, delivering
        robust and scalable solutions within tight deadlines.
        <p>
          Technology Used: Rails, React, PostgreSQL, Bootstrap, Redis, Docker,
          AWS, ApacheKafka, Heroku, GoLang
        </p>
      </TimeLine>
    </div>

    <div class="mb-5">
      <div class="w-full text-3xl font-bold">Achievements</div>
    </div>

    <ul class="mx-6 mb-10 grid list-disc gap-2">
      <li>
        <p>2nd Place - ActivateCare Hackathon (2023)</p>
      </li>
      <li>
        <p>
          First Prize - Quriocity Quiz Competition at Providence College of
          Engineering, Chengannur (2019)
        </p>
      </li>
      <li>
        <p>Third Prize - State Level G-Tec IT Quiz Championship (2017)</p>
      </li>
      <li>
        <p>
          First Prize - Kerala Shasthrolsavam Sub District IT Quiz Championship
          (2013)
        </p>
      </li>
    </ul>

    <div class="mb-5">
      <div class="w-full text-3xl font-bold">Publications</div>
    </div>

    <ul class="mx-6 mb-10 grid list-disc gap-2">
      <li>
        <p>
          <strong>Title:</strong>
          <a
            href="https://ieeexplore.ieee.org/document/9325649"
            target="_blank"
            rel="noopener noreferrer"
            class="text-blue-500"
          >
            Automated Censorable Content Identification In Videos Using Deep
            Learning
          </a>
        </p>
        <p>
          <strong>Publisher:</strong> IEEE
        </p>
        <p>
          <strong>Published in:</strong> 2020 International Conference on Data Analytics
          for Business and Industry: Way Towards a Sustainable Economy (ICDABI)
        </p>
        <p>
          <strong>DOI:</strong> 10.1109/ICDABI51230.2020.9325649
        </p>
      </li>
    </ul>

    <div class="mb-5">
      <div class="w-full text-3xl font-bold">Skills</div>
    </div>

    <ul class="mx-6 list-disc columns-2 md:columns-5">
      <SkillItem title="Ruby on Rails" icon="rails-plain" />
      <SkillItem title="ReactJS" icon="react-original" />
      <SkillItem title="NodeJS" icon="nodejs-plain" />
      <SkillItem title="ExpressJS" icon="express-original" />
      <SkillItem title="PostgreSQL" icon="postgresql-plain" />
      <SkillItem title="MongoDB" icon="mongodb-plain" />
      <SkillItem title="Ruby" icon="ruby-plain" />
      <SkillItem title="TypeScript" icon="typescript-plain" />
      <SkillItem title="NextJS" icon="nextjs-plain" />
      <SkillItem title="AstroJS" icon="astro-plain-wordmark" />
      <SkillItem title="Tailwind" icon="tailwindcss-plain" />
      <SkillItem title="Bootstrap" icon="bootstrap-plain" />
      <SkillItem title="Kubernetes" icon="kubernetes-plain" />
      <SkillItem title="Docker" icon="docker-plain" />
      <SkillItem title="AWS" icon="amazonwebservices-original" />
    </ul>
  </Section>
</Base>
