---
import About from '@components/About.astro';
import Header from '@components/Header.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout>
	<main>
		<Header />
		<About />
	</main>
</Layout>
