---
import { PaginationHeader } from '@components/PaginationHeader';
import { ProjectGallery } from '@components/ProjectGallery';
import { CTA } from '@partials/CTA';
import Base from '@templates/Base.astro';
import { AppConfig } from '@utils/AppConfig';
import { sortProjectsByDate } from '@utils/Posts';
import { getCollection } from 'astro:content';
import { Section } from 'astro-boilerplate-components';

const allProjects = await getCollection('project');
const sortedProjects = sortProjectsByDate(allProjects);

const titleSuffix = ` - ${AppConfig.site_name}`;
const titleBase = `Projects`;
const title = titleBase + titleSuffix;
const description =
  'Explore a collection of insightful articles and resources in our web development blog. Stay updated with the latest trends, technologies, and best practices in web development. Gain valuable knowledge, tips, and tricks to enhance your skills and create stunning websites. Join our community and unlock the potential of the digital world.';
---

<Base head={{ title, description }}>
  <Section>
    <PaginationHeader
      title="Showcasing Web Development Mastery"
      description="Welcome to my web development projects section! Here you will find a showcase of my diverse range of web development projects, highlighting my skills and expertise as a web developer. Get inspired and let's collaborate to bring your next digital venture to life!"
    />
    <div class="flex justify-center">
      <img
        src="/assets/images/studying.webp"
        alt="Project image"
        width={300}
        height={300}
        loading="lazy"
      />
    </div>
  </Section>
  <Section>
    <ProjectGallery projectList={sortedProjects} />
  </Section>

  <CTA />
</Base>
