---
import { BlogGallery } from '@components/BlogGallery';
import { PaginationHeader } from '@components/PaginationHeader';
import { CTA } from '@partials/CTA';
import Base from '@templates/Base.astro';
import { AppConfig } from '@utils/AppConfig';
import { sortPostByDate } from '@utils/Posts';
import { getCollection } from 'astro:content';
import { Section } from 'astro-boilerplate-components';

const allPosts = await getCollection('post');
const sortedPosts = sortPostByDate(allPosts);

const titleSuffix = ` - ${AppConfig.site_name}`;
const titleBase = `Blogs`;
const title = titleBase + titleSuffix;
const description =
  'Explore a collection of insightful articles and resources in our web development blog. Stay updated with the latest trends, technologies, and best practices in web development. Gain valuable knowledge, tips, and tricks to enhance your skills and create stunning websites. Join our community and unlock the potential of the digital world.';
---

<Base head={{ title, description }}>
  <Section>
    <PaginationHeader
      title="Insights and Inspiration: The Blog"
      description="Explore the world of web development through my blog section. Gain valuable insights, tips, and tricks on the latest trends, technologies, and best practices in the ever-evolving realm of web development.  Let's embark on a journey together and unlock the limitless potential of the digital world."
    />
    <div class="flex justify-center">
      <img
        src="/assets/images/reading.webp"
        alt="Blog"
        width={300}
        height={300}
        loading="lazy"
      />
    </div>
  </Section>

  <Section>
    <BlogGallery postList={sortedPosts} />
  </Section>

  <CTA />
</Base>
