---
import { BlogGallery } from '@components/BlogGallery';
import { PaginationHeader } from '@components/PaginationHeader';
import { CTA } from '@partials/CTA';
import Base from '@templates/Base.astro';
import { AppConfig } from '@utils/AppConfig';
import { sortPostByDate } from '@utils/Posts';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import { Section } from 'astro-boilerplate-components';

const allPosts = await getCollection('post');
const sortedPosts = sortPostByDate(allPosts);

const titleSuffix = ` - ${AppConfig.site_name}`;
const titleBase = `Tech Blog & Tutorials`;
const title = titleBase + titleSuffix;
const description =
  'Read expert insights on Ruby on Rails, React.js, TypeScript, and full-stack development. Technical tutorials, open source contributions, and web development best practices from a Senior Software Developer.';
const url = `${AppConfig.site_url}/blogs/`;
---

<Base head={{ title, description, url }}>
  <Section>
    <PaginationHeader
      title="Insights and Inspiration: The Blog"
      description="Explore the world of web development through my blog section. Gain valuable insights, tips, and tricks on the latest trends, technologies, and best practices in the ever-evolving realm of web development.  Let's embark on a journey together and unlock the limitless potential of the digital world."
    />
    <div class="flex justify-center">
      <Image
        src="/assets/images/reading.webp"
        alt="Person reading technical blog articles about web development"
        width={300}
        height={300}
        loading="eager"
      />
    </div>
  </Section>

  <Section>
    <BlogGallery postList={sortedPosts} />
  </Section>

  <CTA />
</Base>
